<header class="header d-flex justify-content-between text-white">
    <span class="py-22">9:41</span>
    <div class="header-icon d-flex align-items-center">    
        <img src="/assets/images/Icon/reception-4.svg" alt="Signal-icon" style="width: 25px; height: 20px;">
        <img src="/assets/images/Icon/wifi.svg" alt="WiFi-icon" style="width: 25px; height: 20px;">
        <img src="/assets/images/Icon/battery-full.svg" alt="Battery-icon" style="width: 30px; height: 25px;">
    </div>
</header>