/* 引入字體 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');
/* 引用 Material Icons */
@import url("https://fonts.googleapis.com/icon?family=Material+Icons+Outlined");
/* 引用 bootstrap */
@import "bootstrap/scss/functions";
@import './utils/variables';
@import "bootstrap";


@import "bootstrap/scss/utilities/api";

// base
@import "components/glass-nav";
@import "components/swiper-gallery-modal";

// components

// layout
@import './layout/header';
@import './layout/footer';

@import './pages/login';
@import './pages/index.scss';
@import "./pages/excitement";