.header{
  font-size: 16px;
  font-weight: 700;
  padding: 22px 40px 22px 41px;
  position: absolute;
}

.header-icon{
    position: absolute;
    left: 277px;
}

.container{
    padding-left: 16px;
    padding-right: 16px;
}

h4{
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
}

h5{
    font-weight: 700;
    font-size: 18px;
    line-height: 1.4;
    margin-bottom: 0;
}

h6{
    font-weight: 700;
    font-size: 16px;
    line-height: 1.4;
    margin-bottom: 0;
}

.bg-tag{
    background-color: #212121;
}

.text-xs{
    font-size: 12px;
    line-height: 1.6;
}

.text-sm{
    font-size: 14px;
    font-weight: 700;
    line-height: 1.6;

}

.text-neutral-300{
    color: #B0B0B0;
}

.p-12{
    padding: 12px;
}

.py-11-5{
    padding-top: 11.5px;
    padding-bottom: 11.5px;
}

.pb-40{
    padding-bottom: 40px;
}

.mb-8{
    margin-bottom: 8px;
}

.banner-border-radious img{
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
}

.close-button{
    width: 48px;
    height: 48px;
    border-radius: 50px;
    background: rgba(0,0,0,0.2);;
    position: absolute;
    border: none;
    right: 16px;
    top: 86px;
    cursor: pointer;
}

.play-button{
    width: 52px;
    height: 52px;
    border-radius: 50px;
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(12px);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.12);
    position: absolute;
    border: none;
    cursor: pointer;
}

.emotion-tag{
    padding: 4px 12px 4px 12px;
    color: #FFFFFF;
    background-color: #F0B000;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    position: absolute;
    right: 0px;
    bottom: 57px;
}

.status-tag{
    background-color: #5BB531;
    border-radius: 4px;
    padding-right: 4px;
    padding-left: 4px;
}

.actor-card{
    max-width: 128px;
    color: #FFF;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.4;
    margin-right: 12px;
    flex: 0 0 auto;

    img{
        border-radius: 8px;
        margin-bottom: 8px;
    }
}

.video-card{
    max-width: 168px;
    margin-right: 12px;
    flex: 0 0 auto;

    img{
        border-radius: 8px;
        margin-bottom: 8px;
    }
}